

RUN apt-get update && apt-get install -y --no-install-recommends \
  dkms \
  infiniband-diags \
  ibacm \
  librdmacm-dev \
  mstflint \
  libibmad-dev \
  libibumad-dev \
  opensm \
  srptools \
  ibutils \
  ibverbs-utils \
  rdmacm-utils \
  perftest \
  numactl \
  libnuma-dev \
  libnl-3-200 \
  libnl-route-3-200 \
  libnl-route-3-dev \
  libnl-utils \
  && rm -rf /var/lib/apt/lists/*

# Intels OPA drivers don't support ubuntu. Copying these files from stampede2 seems to be the minimum
# needed to get the high performance interconnect working.
RUN rm -f /usr/lib/libibverbs* /lib/x86_64-linux-gnu/libnl* /usr/include/infiniband/*

COPY hfi1.driver /etc/libibverbs.d/
COPY libhfi1verbs-rdmav2.so /usr/lib/
COPY libibverbs.so.1.1.13 /usr/lib/libibverbs.so.1.1.13
RUN ln -s /usr/lib/libibverbs.so.1.1.13 /usr/lib/libibverbs.so && \
    ln -s /usr/lib/libibverbs.so.1.1.13 /usr/lib/libibverbs.so.1
COPY libpsm2.so.2.1 /usr/lib/libpsm2.so.2.1
RUN ln -s /usr/lib/libpsm2.so.2.1 /usr/lib/libpsm2.so.2 && \
    ln -s /usr/lib/libpsm2.so.2.1 /usr/lib/libpsm2.so
COPY libnl-3.so.200 /lib/x86_64-linux-gnu/
COPY libnl-route-3.so.200 /lib/x86_64-linux-gnu/
COPY infiniband/* /usr/include/infiniband/
COPY psm*.h /usr/include/
