

RUN apt-get update && apt-get install -y --no-install-recommends \
  dkms \
  infiniband-diags \
  libibverbs-dev \
  ibacm \
  librdmacm-dev \
  mstflint \
  libfabric-dev \
  libibmad-dev \
  libibumad-dev \
  opensm \
  srptools \
  ibutils \
  ibverbs-utils \
  rdmacm-utils \
  perftest \
  numactl \
  libnuma-dev \
  libnl-3-200 \
  libnl-route-3-200 \
  libnl-route-3-dev \
  libnl-utils \
  && rm -rf /var/lib/apt/lists/*

# Intels OPA drivers don't support ubuntu. Copying these two files from Bridges seems to be the minimum
# needed to get the high performance interconnect working.
COPY hfi1.driver /etc/libibverbs.d/
COPY libhfi1verbs-rdmav2.so /usr/lib/
