

RUN curl -sSL https://www.open-mpi.org/software/ompi/v{{ OPENMPI_VERSION }}/downloads/openmpi-{{ OPENMPI_VERSION }}.{{ OPENMPI_PATCHLEVEL }}.tar.bz2 \
   | tar -xjC /root \
   && cd /root/openmpi-{{ OPENMPI_VERSION }}.{{ OPENMPI_PATCHLEVEL }} \
   && ./configure --prefix=/usr \
   && make all install \
   && rm -rf /root/openmpi-{{ OPENMPI_VERSION }}.{{ OPENMPI_PATCHLEVEL }}

RUN curl -sSL http://mvapich.cse.ohio-state.edu/download/mvapich/osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}.tar.gz \
   | tar -xzC /root \
   && cd /root/osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }} \
   && ./configure --prefix=/opt/osu-micro-benchmarks CC=`which mpicc` CXX=`which mpicxx` \
   && cd mpi \
   && make install \
   && rm -rf /root/osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}
