

{% if ENABLE_MPI == 'on' %}
# mpi4py
RUN curl -sSL https://bitbucket.org/mpi4py/mpi4py/downloads/mpi4py-{{ MPI4PY_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/mpi4py-{{ MPI4PY_VERSION }} \
    && python3 setup.py install \
    && rm -rf /root/mpi4py-{{ MPI4PY_VERSION }}
{% endif %}

# set system specific cflags
ENV CFLAGS="{{CFLAGS}}"
ENV CXXFLAGS="{{CFLAGS}}"

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/hoomd/hoomd-{{ HOOMD_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/hoomd-{{ HOOMD_VERSION }} \
    && mkdir build \
    && cd build \
    && cmake ../ -DENABLE_CUDA=on -DENABLE_MPI={{ ENABLE_MPI }} -DENABLE_TBB=on -DBUILD_JIT=on -DBUILD_TESTING=off -DCMAKE_INSTALL_PREFIX=`python3 -c "import site; print(site.getsitepackages()[0])"` \
    && make install -j{{ MAKEJOBS }} \
    && rm -rf /root/hoomd-{{ HOOMD_VERSION }}

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/freud/freud-{{ FREUD_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/freud-{{ FREUD_VERSION }} \
    && mkdir build \
    && cd build \
    && cmake ../ -DCMAKE_INSTALL_PREFIX=`python3 -c "import site; print(site.getsitepackages()[0])"` \
    && make install -j{{ MAKEJOBS }} \
    && rm -rf /root/freud-{{ FREUD_VERSION }}

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/fresnel/fresnel-{{ FRESNEL_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/fresnel-{{ FRESNEL_VERSION }} \
    && mkdir build \
    && cd build \
    && cmake ../ -DENABLE_TBB=on -DENABLE_EMBREE=on -DENABLE_CUDA=off -DENABLE_OPTIX=off -DCMAKE_INSTALL_PREFIX=`python3 -c "import site; print(site.getsitepackages()[0])"` \
    && make install -j{{ MAKEJOBS }} \
    && rm -rf /root/fresnel-{{ FRESNEL_VERSION }}

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/gsd/gsd-{{ GSD_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/gsd-{{ GSD_VERSION }} \
    && mkdir build \
    && cd build \
    && cmake ../ -DCMAKE_INSTALL_PREFIX=`python3 -c "import site; print(site.getsitepackages()[0])"` \
    && make install -j{{ MAKEJOBS }} \
    && rm -rf /root/gsd-{{ GSD_VERSION }}

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/libgetar/libgetar-{{ LIBGETAR_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/libgetar-{{ LIBGETAR_VERSION }} \
    && python3 setup.py install \
    && rm -rf /root/libgetar-{{ LIBGETAR_VERSION }}

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/rowan/rowan-{{ ROWAN_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/rowan-{{ ROWAN_VERSION }} \
    && python3 setup.py install \
    && rm -rf /root/rowan-{{ ROWAN_VERSION }}

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/plato/plato-{{ PLATO_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/plato-{{ PLATO_VERSION }} \
    && python3 setup.py install \
    && rm -rf /root/plato-{{ PLATO_VERSION }}

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/pythia/pythia-{{ PYTHIA_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/pythia-{{ PYTHIA_VERSION }} \
    && python3 setup.py install \
    && rm -rf /root/pythia-{{ PYTHIA_VERSION }}

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/signac/signac-{{ SIGNAC_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/signac-{{ SIGNAC_VERSION }} \
    && python3 setup.py install \
    && rm -rf /root/signac-{{ SIGNAC_VERSION }}

RUN curl -sSL https://glotzerlab.engin.umich.edu/Downloads/signac-flow/signac-flow-{{ SIGNAC_FLOW_VERSION }}.tar.gz \
    | tar -xzC /root \
    && cd /root/signac-flow-{{ SIGNAC_FLOW_VERSION }} \
    && python3 setup.py install \
    && rm -rf /root/signac-flow-{{ SIGNAC_FLOW_VERSION }}

RUN mkdir /hoomd-examples \
    && curl -sSL https://bitbucket.org/glotzer/hoomd-examples/get/master.tar.gz \
    | tar -xzC /hoomd-examples --strip-components=1

# configure unprivileged user
RUN useradd --create-home --shell /bin/bash glotzerlab-software \
    && chown glotzerlab-software:glotzerlab-software -R /hoomd-examples
USER glotzerlab-software:glotzerlab-software
