#!/usr/bin/bash

set -u
set -e

usage="$(basename "$0") root -- Build software and install in root."

if [[ $# -lt 1 || $# -gt 1  || $1 == "-h" ]]
then
    echo "$usage"
    exit 0
fi

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
ROOT=$1
module reset
module load gcc/7.4.0
module load python/3.7.0
python3 -m venv $ROOT --system-site-packages

cat >$ROOT/environment.sh << EOL
module reset
module load gcc/7.4.0
module load cuda
module load cmake
module load git
module load netlib-lapack/3.8.0
module load hdf5/1.10.3

export LD_LIBRARY_PATH=$ROOT/lib:\$LD_LIBRARY_PATH
export PATH=$ROOT/bin:\$PATH
export CPATH=$ROOT/include:\$CPATH
export LIBRARY_PATH=$ROOT/lib:\$LIBRARY_PATH
export CC=\${OLCF_GCC_ROOT}/bin/gcc
export CXX=\${OLCF_GCC_ROOT}/bin/g++
export LDSHARED="\${OLCF_GCC_ROOT}/bin/gcc -shared"
export VIRTUAL_ENV=$ROOT
export CMAKE_PREFIX_PATH=$ROOT
EOL

cp -a $DIR/../../check-requirements.py $ROOT/bin

source $ROOT/environment.sh

BUILDDIR=`mktemp -d`
mkdir -p $BUILDDIR

# deletes the temp directory
function cleanup {
  rm -rf "$BUILDDIR"
  echo "Deleted temp working directory $BUILDDIR"
}

trap cleanup EXIT
cd $BUILDDIR

python3 -m pip install --upgrade pip
python3 -m pip install --progress-bar off --no-binary :all: --no-use-pep517 --no-build-isolation cython sphinx
python3 -m pip install --progress-bar off --no-binary :all: --no-use-pep517 --no-build-isolation \
    mpi4py \
    six \
    numpy \
    tables \
    numexpr \
    deprecation \
    breathe \
    cloudpickle \
    filelock \
    jinja2 \
    tqdm \
    packaging

# TBB
curl -sSLO https://github.com/oneapi-src/oneTBB/archive/v{{ TBB_VERSION }}.tar.gz \
    && echo "{{ TBB_SHA }}  v{{ TBB_VERSION }}.tar.gz" | sha256sum -c - \
    && tar -xzf v{{ TBB_VERSION }}.tar.gz -C . \
    && cd oneTBB-{{ TBB_VERSION }} \
    && make \
    && install -d $ROOT/lib \
    && install -m755 build/linux_*release/*.so* ${ROOT}/lib \
    && install -d $ROOT/include \
    && cp -a include/tbb $ROOT/include \
    && cd .. \
    && rm -rf oneTBB-{{ TBB_VERSION }} \
    && rm v{{ TBB_VERSION }}.tar.gz \
    || exit 1

# embree is not available for power9

# scipy
curl -sSLO https://github.com/scipy/scipy/releases/download/v{{ SCIPY_VERSION }}/scipy-{{ SCIPY_VERSION }}.tar.gz \
    && echo "{{ SCIPY_SHA }}  scipy-{{ SCIPY_VERSION }}.tar.gz" | sha256sum -c - \
    && tar -xzf scipy-{{ SCIPY_VERSION }}.tar.gz -C . \
    && cd scipy-{{ SCIPY_VERSION }} \
    && LAPACK=${OLCF_NETLIB_LAPACK_ROOT}/lib64/liblapack.so BLAS=${OLCF_NETLIB_LAPACK_ROOT}/lib64/libblas.so python3 setup.py install \
    && cd $BUILDDIR \
    && rm -rf scipy-{{ SCIPY_VERSION }} \
    || exit 1

# install pybind11 headers
curl -SL https://github.com/pybind/pybind11/archive/v{{PYBIND11_VERSION}}.tar.gz | tar -xzC $BUILDDIR && \
    cd pybind11-{{PYBIND11_VERSION}} && \
    mkdir build && cd build && \
    cmake ../ -DCMAKE_INSTALL_PREFIX=$ROOT -DPYBIND11_TEST=off && \
    make install && \
    cd $BUILDDIR && rm -rf pybind11-*

# install cereal headers
curl -SL https://github.com/USCiLab/cereal/archive/v${{CEREAL_VERSION}}.tar.gz | tar -xzC $BUILDDIR && \
    cd cereal-{{CEREAL_VERSION}} && \
    mkdir build && cd build && \
    cmake ../ -DCMAKE_INSTALL_PREFIX=$ROOT -DJUST_INSTALL_CEREAL=on && \
    make install && \
    cd $BUILDDIR && rm -rf cereal-*

# install eigen headers
curl -SL https://gitlab.com/libeigen/eigen/-/archive/${{EIGEN_VERSION}}/eigen-${{EIGEN_VERSION}}.tar.gz | tar -xzC $BUILDDIR && \
    cd eigen-{{EIGEN_VERSION}} && \
    mkdir build && cd build && \
    cmake ../ -DCMAKE_INSTALL_PREFIX=$ROOT -DBUILD_TESTING=off, -DEIGEN_TEST_NOQT=on && \
    make install && \
    cd $BUILDDIR && rm -rf cereal-*
