

RUN cd /test && \
    python3 serial-cpu.py

# RUN cd \
#    && git clone --recursive --branch v$(python3 -c "import coxeter; print(coxeter.__version__)") --depth 1 https://github.com/glotzerlab/coxeter \
#    && python3 -m pytest -v ./coxeter/tests \
#    && rm -rf coxeter \
#    || exit 1

# Run minimal tests on freud - the full suite takes a long time to run.
RUN cd \
    && git clone --recursive --branch v$(python3 -c "import freud; print(freud.__version__)") --depth 1 https://github.com/glotzerlab/freud \
    && cd freud/tests/ \
    && python -m pytest -v test_box_Box.py \
    && cd ../../ \
    && rm -rf freud \
    || exit 1

RUN cd && \
    python3 -m pytest -v --pyargs gsd

RUN cd && \
    python3 -m pytest -v --pyargs fresnel

RUN cd \
    && git clone --branch v$(python3 -c "import signac; print(signac.__version__)") --depth 1 https://github.com/glotzerlab/signac.git \
    && cd signac \
    && python -m pytest -v tests \
    && cd .. \
    && rm -rf signac

RUN cd \
    && git clone --branch v$(python3 -c "import flow; print(flow.__version__)") --depth 1 https://github.com/glotzerlab/signac-flow.git \
    && cd signac-flow \
    && python -m pytest -v tests \
    && cd .. \
    && rm -rf signac-flow

RUN cd \
    && git clone --branch v$(python3 -c "import signac_dashboard; print(signac_dashboard.__version__)") --depth 1 https://github.com/glotzerlab/signac-dashboard.git \
    && cd signac-dashboard \
    && python -m pytest -v tests \
    && cd .. \
    && rm -rf signac-dashboard
