

RUN cd /test && \
    python3 serial-cpu.py

RUN cd \
    && git clone --recursive --branch {{ COXETER_VERSION }} --depth 1 https://github.com/glotzerlab/coxeter \
    && python3 -m pytest -v ./coxeter/tests \
    && rm -rf coxeter \
    || exit 1

RUN cd \
    && git clone --recursive --branch {{ FREUD_VERSION }} --depth 1 https://github.com/glotzerlab/freud \
    && cd freud/tests/ \
    && python -m unittest discover \
    && cd ../../ \
    && rm -rf freud \
    || exit 1

RUN cd && \
    python3 -m pytest -v --pyargs gsd

# RUN cd && \
#    python3 -m pytest -v --pyargs hoomd
