# glotzer tools
freud-analysis==2.10.0
gsd==2.5.3
garnett==0.7.1
pythia-learn==0.3.0
rowan==1.3.0.post1
coxeter==0.6.1
plato-draw==1.12.0
signac==1.7.0
signac-flow==0.20.0
signac-dashboard==0.3.0

# commonly used packages
h5py==3.7.0
jupyter==1.0.0; platform_machine != 'ppc64le'
matplotlib==3.5.2; platform_machine != 'ppc64le'
notebook==6.4.12; platform_machine != 'ppc64le'
opencv-python==4.6.0.66; platform_machine != 'ppc64le'
pandas==1.4.3; platform_machine != 'ppc64le'
Pillow==9.2.0
pyqt5==5.15.7; platform_machine != 'ppc64le'
pyyaml==6.0
scikit-learn==1.1.2
scikit-image==0.19.3; platform_machine != 'ppc64le'
scipy==1.9.0
statsmodels==0.13.2
cupy==11.0.0

# test requirements
hypothesis==6.54.1
pytest==7.1.2
miniball==1.1.0
sympy==1.10.1
tables==3.7.0
coverage==6.4.3
click==8.1.3
pytest-cov==3.0.0
ruamel.yaml==0.17.21
