# glotzer tools
freud-analysis==2.13.0
gsd==3.1.1
garnett==0.7.1
pythia-learn==0.3.0
rowan==1.3.0.post1
coxeter==0.6.1
plato-draw==1.12.0
signac==2.1.0
signac-flow==0.25.1
signac-dashboard==0.5.0

# commonly used packages
h5py==3.9.0
jupyter==1.0.0; platform_machine != 'ppc64le'
jupyterlab==4.0.5; platform_machine != 'ppc64le'
matplotlib==3.7.2; platform_machine != 'ppc64le'
notebook==7.0.2; platform_machine != 'ppc64le'
opencv-python==4.8.0.76; platform_machine != 'ppc64le'
pandas==2.0.3
Pillow==10.0.0
pyqt5==5.15.9; platform_machine != 'ppc64le'
pyyaml==6.0.1
scikit-learn==1.3.0
scikit-image==0.21.0; platform_machine != 'ppc64le'
statsmodels==0.14.0; platform_machine != 'ppc64le'


# test requirements
hypothesis==6.82.6
pytest==7.4.0
miniball==1.2.0
sympy==1.12
tables==3.8.0; platform_machine != 'ppc64le'
coverage==7.3.0
click==8.1.7
pytest-cov==4.1.0
ruamel.yaml==0.17.32
