name: Build

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  # Trigger on pull requests.
  pull_request:

  # Trigger on pushes to the mainline branches. These triggers push the built images to Docker Hub.
  push:
    branches:
      - "master"
      - "hoomd-v3-beta"

  # Trigger on request.
  workflow_dispatch:

jobs:
  Build:
    name: Build ${{ matrix.configuration }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        configuration: [nompi, greatlakes, bridges2, expanse, stampede2]
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Login to DockerHub
        if: ${{ github.event_name != 'pull_request' || (github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]') }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build image
        run: ./build.sh -r glotzerlab ${{ matrix.configuration }}
      - name: Push image
        run: docker push -a glotzerlab/software
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/hoomd-v3-beta'
      - name: Slack notification
        if: ${{ (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/hoomd-v3-beta') && (failure() || cancelled()) }}
        uses: 8398a7/action-slack@v3.9.2
        with:
          status: ${{ job.status }}
          fields: workflow,ref,message,commit
          mention: channel
          if_mention: failure,cancelled
          channel: '#dev-glotzerlab-software'
          username: Github Action
          author_name: Build ${{ matrix.configuration }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
